html,
body {
  height: 100%;
}

#wrap {
  min-height: 100%;
}

#main {
  overflow: auto;
  padding-bottom: 200px;
  /* must be same height as the footer */
}

#footer {
  position: relative;
  margin-top: -200px;
  /* negative value of footer height */
  height: 200px;
  clear: both;
  background-color: #343a40;
  color: white;
}

@media screen and (max-width: 780px) {
    #main {
  overflow: auto;
}

#footer {
  height: 50%;

}
}